
.awesome-portfolio-area {
  background: #f7f5f6 none repeat scroll 0 0;
  overflow: hidden;
  padding-top: 50px;
  /*border: solid 0.1em gold;*/
}
.section-heading{text-align:center}
.section-heading h2 {
  color: #666;
  font-size: 45px;
  line-height: 45px;
  margin-bottom: 20px;
}
.section-heading p{}
.awesome-portfolio{}
.single-awesome-portfolio {
  width: 20%;
  float: left;
  overflow:hidden
}
.single-awesome-portfolio a {
  position: relative;
  display: block;
}
.awesome-img {
  overflow: hidden;
  position: relative;
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  z-index: 2;
  display:block
}
.awesome-img img{}
.awesome-info {
  background-color: #282727;
  height: 100%;
  padding: 20px 30px 12px;
  position: absolute;
  top: 0;
  width: 100%;
  opacity:1;
  display:block;
}
.awesome-info h3 {
  color: #fff;
  font-size: 16px;
  margin-bottom: 3px;
}
.awesome-info p {
  color: #aaa;
  font-size: 12px;
}
.single-awesome-portfolio a:hover .awesome-img {transform: translateY(100%);}
.awesome-portfolio-menu {
  margin-bottom: 40px;
  margin-top: 20px;
}
.awesome-portfolio-menu ul{text-align:center}
.awesome-portfolio-menu ul li {
  border: 1px solid #ececec;
  color: #888888;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 300;
  margin: 0 4px;
  padding: 8px 17px;
  transition: all 0.3s ease 0s;
  background: #fff;
}
.awesome-portfolio-menu ul li.active,.awesome-portfolio-menu ul li:hover{border-color: #2bcdc1;
color: #2bcdc1;}
.awesome-portfolio-content .mix{
    display: none;
}
img {max-width:100%;height:auto}

.projects{
  color: #008080 !important;
}




